{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
  </header>
  

  <div class="view overlay">
    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
    <div class="mask flex-center rgba-green-slight">
        <p class="white-text">Super light overlay</p>
    </div>
</div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
        <div class="view overlay">
          <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
          <div class="mask flex-center rgba-green-slight">
                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugiat a facere saepe tempore reiciendis laudantium maiores aliquid dolorum, dolor accusantium dolorem aut alias, aperiam vel sint numquam incidunt aspernatur.</p>
            </div>
            </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Levi Strieter</h5>
            <div class="card-text text-black-50">Developer and Technical guy</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Josiah Salters</h5>
            <div class="card-text text-black-50">Clown</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jaden Phillips</h5>
            <div class="card-text text-black-50">Social Speaker dude guy</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Hailey Sanns</h5>
            <div class="card-text text-black-50">The all Ipad Kinda gal</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Michael</h5>
            <div class="card-text text-black-50">The man the myth the close to being legend</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
{% endblock %}