{% extends 'base.html' %}
{% load custom_time_tags %}

{% block content %}

<style>

h1{
    text-align: center;
}

.card {
  margin: 30px; 
  display: inline-block;
  width: 400px;
  height: 400px;
}

.card-header {
  text-align: center;

}
</style>



<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Asked Questions</h1>
  </div>
</header>
{% get_today as today %}


{% for data in data %}
  {% if today == data.date_uploaded %}
  <div class="card bg-light mb-3" style="max-width: 18rem;">

    <div class="card-header">{{ data.subject }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ data.name }}</h5>
      <p class="card-text">email - {{ data.email }}</p>
      <p class="card-text">room number - {{ data.room_number }}</p>
      <p class="card-text">when - {{ data.date_uploaded }}</p>
      <br>
      <p class="card-text">description - {{ data.description }}</p>
    </div>
  </div>


  {% else %}
    <div class="card bg-danger mb-3" style="max-width: 18rem;">

      <div class="card-header">{{ data.subject }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ data.name }}</h5>
        <p class="card-text">email - {{ data.email }}</p>
        <p class="card-text">room number - {{ data.room_number }}</p>
        <p class="card-text">when - {{ data.date_uploaded }}</p>
        <br>
        <p class="card-text">description - {{ data.description }}</p>
      </div>
    </div>

  {% endif %}
{% endfor %}
{% endblock %}