{% extends 'base.html' %}

{% load static %}
{% block content %}

<style>
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  span {
    font-size: 15px;
  }


  .box {
    padding: 60px 0px;
  }

  .box-part{
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
  }

  .text {
    margin: 20px 0px;
  }

  .center {
    text-align: center;
    
  }
  </style>

<div class="center"></div>
<div class="box-part text-center">
  
  <div class="title">
    <h4>Ipad</h4>
  </div>
  <div class="text">
    <span>Upload video to be posted for all the world to see?.</span>
  </div>
  
    {% for data in data %}
    
      {% if data.subject == "Ipad" %}
      
        
          <div class="contaienr">
            <div class="accordian">
              <button class="accordion text-center">{{ data.question }}</button>
              <div class="panel">
                <p>{{ data.answer }}</p>
                <br>
                <p>{{ data.date_uploaded }}</p>
              </div>
            
            </div>
          </div>
      {% endif %}
    {% endfor %}
  
</div>


  <div class="center"></div>
    <div class="box-part text-center">
      
      <div class="title">
        <h4>Mac</h4>
      </div>
      <div class="text">
        <span>Upload video to be posted for all the world to see?.</span>
      </div>
      
        {% for data in data %}
        
          {% if data.subject == "mac" %}
          
            
              <div class="contaienr">
                <div class="accordian">
                  <button class="accordion text-center">{{ data.question }}</button>
                  <div class="panel">
                    <p>{{ data.answer }}</p>
                    <br>
                    <p>{{ data.date_uploaded }}</p>
                  </div>
                
                </div>
              </div>
          {% endif %}
        {% endfor %}
      
    </div>
  
    <div class="center"></div>
    <div class="box-part text-center">
      
      <div class="title">
        <h4>Keynote</h4>
      </div>
      <div class="text">
        <span>Upload video to be posted for all the world to see?.</span>
      </div>
      
        {% for data in data %}
        
          {% if data.subject == "keynote" %}
          
            
              <div class="contaienr">
                <div class="accordian">
                  <button class="accordion text-center">{{ data.question }}</button>
                  <div class="panel">
                    <p>{{ data.answer }}</p>
                    <br>
                    <p>{{ data.date_uploaded }}</p>
                  </div>
                
                </div>
              </div>
          {% endif %}
        {% endfor %}
      
    </div>

    <div class="center"></div>
    <div class="box-part text-center">
      
      <div class="title">
        <h4>Pages</h4>
      </div>
      <div class="text">
        <span>Upload video to be posted for all the world to see?.</span>
      </div>
      
        {% for data in data %}
        
          {% if data.subject == "pages" %}
          
            
              <div class="contaienr">
                <div class="accordian">
                  <button class="accordion text-center">{{ data.question }}</button>
                  <div class="panel">
                    <p>{{ data.answer }}</p>
                    <br>
                    <p>{{ data.date_uploaded }}</p>
                  </div>
                
                </div>
              </div>
          {% endif %}
        {% endfor %}
      
    </div>

    <div class="center"></div>
    <div class="box-part text-center">
      
      <div class="title">
        <h4>Imovie</h4>
      </div>
      <div class="text">
        <span>Upload video to be posted for all the world to see?.</span>
      </div>
      
        {% for data in data %}
        
          {% if data.subject == "imovie" %}
          
            
              <div class="contaienr">
                <div class="accordian">
                  <button class="accordion text-center">{{ data.question }}</button>
                  <div class="panel">
                    <p>{{ data.answer }}</p>
                    <br>
                    <p>{{ data.date_uploaded }}</p>
                  </div>
                
                </div>
              </div>
          {% endif %}
        {% endfor %}
      
    </div>

    <div class="center"></div>
    <div class="box-part text-center">
      
      <div class="title">
        <h4>Schoology</h4>
      </div>
      <div class="text">
        <span>Upload video to be posted for all the world to see?.</span>
      </div>
      
        {% for data in data %}
        
          {% if data.subject == "schoology" %}
          
            
              <div class="contaienr">
                <div class="accordian">
                  <button class="accordion text-center">{{ data.question }}</button>
                  <div class="panel">
                    <p>{{ data.answer }}</p>
                    <br>
                    <p>{{ data.date_uploaded }}</p>
                  </div>
                
                </div>
              </div>
          {% endif %}
        {% endfor %}
      
    </div>
  

    <div class="center"></div>
    <div class="box-part text-center">
      
      <div class="title">
        <h4>Other</h4>
      </div>
      <div class="text">
        <span>Upload video to be posted for all the world to see?.</span>
      </div>
      
        {% for data in data %}
        
          {% if data.subject == "schoology" %}
          
            
              <div class="contaienr">
                <div class="accordian">
                  <button class="accordion text-center">{{ data.question }}</button>
                  <div class="panel">
                    <p>{{ data.answer }}</p>
                    <br>
                    <p>{{ data.date_uploaded }}</p>
                  </div>
                
                </div>
              </div>
          {% endif %}
        {% endfor %}
      
    </div>
  

  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
  </script>
{% endblock %}