{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}

<style>

form {
  margin: 25px 35% 50px 35%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center; 
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
 { 
    form {
      margin: 40px 80px 200px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
 {
    form {
      margin: 40px 80px 200px;
    }
}

</style>


<form method="post" action="." novalidate>
    {% csrf_token %}
  
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
  
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
  
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
  
        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}
  
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
  <div class="center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>

{% endblock %}