{% extends 'base.html' %}

{% block content %}

<style>

span {
  font-size: 15px;
}



.box {
  padding: 60px 0px;
}

.box-part{
  background: #FFF;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
}

.text {
  margin: 20px 0px;
}

.center {
  text-align: center;
  
}


</style>
<div class="center"></div>
  <div class="box-part text-center">
    
    <div class="title">
      <h4>Upload Video</h4>
    </div>
    <div class="text">
      <span>Upload video to be posted for all the world to see?.</span>
    </div>
    <a href="/core/video_upload"><button type="button" class="btn btn-danger"><i class="fas fa-upload"></i></button></a>
  </div>
  
  <div class="box-part text-center">
    
    <div class="title">
      <h4>Upload FAQ Answer</h4>
    </div>
    <div class="text">
      <span>Upload video to be posted for all the world to see?.</span>
    </div>
    <a href="/core/FAQ_upload"><button type="button" class="btn btn-danger"><i class="fas fa-upload"></i></button></a>
  </div>
  
  <div class="box-part text-center">
    
    <div class="title">
      <h4>See Asked Questions</h4>
    </div>
    <div class="text">
      <span>Upload video to be posted for all the world to see?.</span>
    </div>
    <a href="/core/asked_questions"><button type="button" class="btn btn-danger"><i class="fas fa-arrow-right"></i></button></a>
  </div>
</div>
</div>

<!-- 
<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-secondary border-success">Upload Video</div>
    <div class="card-body text-success bg-secondary">
      <h5 class="card-title">Logged in as {{ user.get_full_name|default:user.username }}</h5>
      <p class="card-text">Upload video to be posted for all the world to see?.</p>
    </div>
    <div class="card-footer bg-secondary border-success"><button type="button" class="btn btn-danger"><a href="/core/video_upload">Uplaod </a><i class="fas fa-upload"></i>

    </button>
    </div>
  </div>

  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Check Asked questions </div>
    <div class="card-body text-success">
      <h5 class="card-title">Logged in as {{ user.get_full_name|default:user.username }}</h5>
      <p class="card-text">Check asked questions.</p>
    </div>
    <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-danger"><a href="/core/asked_questions">Continue </a><i class="fas fa-arrow-right"></i>

    </button>
    </div>
  </div>



  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Upload FAQ answer</div>
    <div class="card-body text-success">
      <h5 class="card-title">Logged in as {{ user.get_full_name|default:user.username }}</h5>
      <p class="card-text">Upload FAQ answer to be posted for all the world to see?.</p>
    </div>
    <div class="card-footer bg-transparent border-success"><button type="button" class="btn btn-danger"><a href="/core/FAQ_upload">Answer </a><i class="fas fa-upload"></i>

    </button>
    </div>
  </div> -->




{% endblock %}
