{% extends 'base.html' %}

{% block content %}


<style>

.jumbotron {
  text-align: center;
}

</style>

<div class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>The Apple Tech Team</strong> will be with you as soon as possible!</p>
        <hr>
        <p>
          Very Urgent? <a href="">Contact us- 740-301-4007</a>
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
        </p>
      </div>


{% endblock %}