{% extends 'base.html' %}

{% block content %}

<style>
  .d-inline-block {
      margin: 20px;
      text-align: center;
  }

  .box {
    padding: 60px 0px;
  }

  .box-part{
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
  }

  .text {
    margin: 20px 0px;
  }

  .center {
    text-align: center;
    
  }

</style>
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Tutorial Videos</h1>
  </div>
</header>
<div class="center"></div>
<div class="box-part text-center">
  
  <div class="title">
    <h4>Ipad</h4>
  </div>
  <div class="text">
    <span>This is the section to find all the answers about an <i>Ipad</i>.</span>
  </div>
  

  {% for data in data %}
    
    {% if data.subject == "ipad" %}  
    <div class="d-inline-block">                          

        <iframe width="300" height="200" src="https://www.youtube.com/embed/{{data.youtube_unique_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label class="form-control label-warning text-center">{{ data.vid_name }}</label>

    </div>

    {% endif %}
  {% endfor %}
  
</div>
    
<div class="center"></div>
<div class="box-part text-center">
  
  <div class="title">
    <h4>Mac</h4>
  </div>
  <div class="text">
    <span>This is the section to find all the answers about a <i>Mac</i>.</span>
  </div>
  

  {% for data in data %}
    
    {% if data.subject == "mac" %}  
    <div class="d-inline-block">                          

        <iframe width="300" height="200" src="https://www.youtube.com/embed/{{data.youtube_unique_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label class="form-control label-warning text-center">{{ data.vid_name }}</label>

    </div>

    {% endif %}
  {% endfor %}
  
</div>

<div class="center"></div>
<div class="box-part text-center">
  
  <div class="title">
    <h4>Keynote</h4>
  </div>
  <div class="text">
    <span>This is the section to find all the answers about the <i>Keynote</i> application</span>
  </div>
  

  {% for data in data %}
    
    {% if data.subject == "keynote" %}  
    <div class="d-inline-block">                          

        <iframe width="300" height="200" src="https://www.youtube.com/embed/{{data.youtube_unique_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label class="form-control label-warning text-center">{{ data.vid_name }}</label>

    </div>

    {% endif %}
  {% endfor %}
  
</div>

<div class="center"></div>
<div class="box-part text-center">
  
  <div class="title">
    <h4>Pages</h4>
  </div>
  <div class="text">
    <span>This is the section to find all the answers about the <i>Pages</i> application.</span>
  </div>
  

  {% for data in data %}
    
    {% if data.subject == "pages" %}  
    <div class="d-inline-block">                          

        <iframe width="300" height="200" src="https://www.youtube.com/embed/{{data.youtube_unique_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label class="form-control label-warning text-center">{{ data.vid_name }}</label>

    </div>

    {% endif %}
  {% endfor %}
  
</div>

<div class="center"></div>
<div class="box-part text-center">
  
  <div class="title">
    <h4>Imovie</h4>
  </div>
  <div class="text">
    <span>This is the section to find all the answers about the <i>Imovie</i> application.</span>
  </div>
  

  {% for data in data %}
    
    {% if data.subject == "imovie" %}  
    <div class="d-inline-block">                          

        <iframe width="300" height="200" src="https://www.youtube.com/embed/{{data.youtube_unique_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label class="form-control label-warning text-center">{{ data.vid_name }}</label>

    </div>

    {% endif %}
  {% endfor %}
  
</div>

<div class="center"></div>
<div class="box-part text-center">
  
  <div class="title">
    <h4>Schoology</h4>
  </div>
  <div class="text">
    <span>This is the section to find all the answers about the <i>Schoology</i> application.</span>
  </div>
  

  {% for data in data %}
    
    {% if data.subject == "schoology" %}  
    <div class="d-inline-block">                          

        <iframe width="300" height="200" src="https://www.youtube.com/embed/{{data.youtube_unique_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label class="form-control label-warning text-center">{{ data.vid_name }}</label>

    </div>

    {% endif %}
  {% endfor %}
  
</div>

<div class="center"></div>
<div class="box-part">
  
  <div class="title text-center">
    <h4>Other</h4>
  </div>
  <div class="text text-center">
    <span>This is section to find the answers to <i>Everything</i>.</span>
  </div>
  

  {% for data in data %}
    
    {% if data.subject == "other" %}  
    <div class="d-inline-block">                          

        <iframe width="300" height="200" src="https://www.youtube.com/embed/{{data.youtube_unique_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label class="form-control label-warning text-center">{{ data.vid_name }}</label>

    </div>

    {% endif %}
  {% endfor %}
</div>

{% endblock %}
