{% extends 'base.html' %}

{% load static %}

{% block content %}


<style>
.masthead .masthead-avatar {
  width: 35%;
  height: 35%;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    iframe {
      width: 300px;
      height: 100px;
    }
}

</style>

 <!-- Masthead -->
 <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="{% static 'core/img/logo.png' %}" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Core Help</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">FAQ - Tutorial Videos - Help</p>

    </div>
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Search For Help</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form action="{% url 'search_results' %}" method="get">
            <div class="control-group">
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                      <p class="lead">Asking a question is simple. Either search a specific question ex. <i>how to screen mirror</i> or search a broad subject ex. <i>Keynote</i></p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                      <p class="lead">If the question you asked does not have a answer try rewording the question or visiting the dedicated FAQ section. Thank You!</p>
                    </div>
                  </div>
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label></label>
                  <input class="form-control" name="q" type="text" placeholder="Search..." required="required" data-validation-required-message="Please enter a subject or question to search for.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Search</button>
            </div>
            </div>
          </form>
        </div>
      </div>
      <!-- <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
      </form> -->


    </section>

    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="about">
      <div class="container">
  
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Mission Statement</h2>
  
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
        
        <h4 class="text-center"><i>"Helping all the way to the core of the Quesiton"</i></h4>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/NU0-IPlXFsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="page-section  mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase">Ask A Question</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">When asking a question on the official Core Help website you will get one of the Core Help members back with you faster than a personalized email. Although, before asking a question we kindly ask you to check the FAQ section and Tutorial Videos for an answer. Thank You!</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">When asking a question please have the following in mind: Subject of the question (ex. Keynote), and a quality description of the problem. Please avoid using, "It will not work," but instead, "In Clips I click the big pink button but It will still not record."</p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl bg-primary" href="/core/help_form">
          <i class="fas fa-arrow-right bg-primary"></i>
          Continue
        </a>
      </div>

    </div>

  </section>
  
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- Plugin JavaScript -->

  <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

  <!-- Custom scripts for this template -->
  <script src="{% static 'core/js/freelancer.js' %}"></script>


{% csrf_token %}
{% endblock %}