{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apple Tech Help</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static '/DEV/bootstrap.min.css' %}"> -->
    
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">


</head>

<style>

</style>
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Apple Tech</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/core/videos">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/core/FAQ">FAQ</a>
      </li>
      <li class="nav-item">
        <a href="/core/help_form" class="nav-link">Help Form</a>
      </li>
    </ul>
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="dropbtn btn btn-primary">{{ user.username }}</button>
        <div class="dropdown-content">
          <a href="/core/dashboard">DashBoard</a>
          <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          <a href="/admin/">Admin</a>
        </div>
      </div>
    {% else %}

      <button class="btn btn-primary"><a class="text-white" href="{% url 'login'%}?next={{request.path}}">Login</a></button> 
    {% endif %}

  </ul>
  </div>
</nav>


{% block content %}


{% endblock %}


<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">Highlander Way
            <br>Meet Us In Library</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Follow Us on Social Media</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Apple Tech</h4>
          <p class="lead mb-0">Core Help is the official Huntington Highlanders help team for any technological problems
            <a href="core/about_us">Read About Us</a>.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Apple Tech 2019</small>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/cf5bbfce54.js"></script>
  <script src="{% static 'core/js/freelancer.js' %}"></script>
</body>
</html>
